# Welcome

### The goal of this project is to get insights of an start-up that sells cool glasses in Mexico; we will dive into their sales and try to find out in which day of the week and weekend sells the most per store. To help with the goal, an exploratory data analysis will be done to give a better understanding of how the sales behave. 

### We will combine this exploratory data analysis and then we will combine the tools of Tableau and get some data visualizations with it.

## <h1><center>Let's start!</center></h1>

In [1]:
# Importing packages
import pandas as pd
import numpy as np
from datetime import datetime

# We ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Loading the dataset
dataset = pd.read_csv('Examen Data Analyst - Sheet1.csv')

In [3]:
# Let's check the head of the data
dataset.head()

,Name,Financial Status,Fulfillment Status,Taxes,Total,Discount Amount,Created_at (UTC),Lineitem quantity,Lineitem price,Cancelled at,Payment Method,Refunded Amount,Location,Source,Lineitem name
0,MX29-1673,partially_refunded,fulfilled,468.97,3400.0,0.0,02/01/2018 18:24:00,1,1799.99,NaN,External Credit,150.0,Tienda A,pos,MARTIN
1,MX29-1673,NaN,NaN,NaN,NaN,NaN,02/01/2018 18:24:00,1,1600.01,NaN,NaN,NaN,NaN,NaN,Micas Oftalmicas
2,MX29-1674,paid,fulfilled,344.83,2500.0,0.0,02/01/2018 20:54:00,1,1799.99,NaN,External Credit,0.0,Tienda A,pos,ALDOUS
3,MX29-1674,NaN,NaN,NaN,NaN,NaN,02/01/2018 20:54:00,1,700.00,NaN,NaN,NaN,NaN,NaN,Clipon
4,MX29-1674,NaN,NaN,NaN,NaN,NaN,02/01/2018 20:54:00,1,0.01,NaN,NaN,NaN,NaN,NaN,Micas Oftalmicas

# Exploratory Data Analysis. 

### In order to clean and transform the data we want to check the fundamentals operations in our Exploratory Data Analysis (EDA), i.e, we want to know the shape, data types, number/percentage of missing values and the statistical values of the Data Frame.

In [4]:
# Checking how many rows and columns we have
size = dataset.shape
print(size)

# Name of columns
columns = dataset.columns
print(columns)

(18783, 15)
Index(['Name', 'Financial Status', 'Fulfillment Status', 'Taxes', 'Total',
       'Discount Amount', 'Created_at (UTC)', 'Lineitem quantity',
       'Lineitem price', 'Cancelled at', 'Payment Method', 'Refunded Amount',
       'Location', 'Source', 'Lineitem name'],
      dtype='object')

In [5]:
# Checking the data types of our data
dataset.dtypes

Name                   object
Financial Status       object
Fulfillment Status     object
Taxes                 float64
Total                 float64
Discount Amount       float64
Created_at (UTC)       object
Lineitem quantity       int64
Lineitem price        float64
Cancelled at           object
Payment Method         object
Refunded Amount       float64
Location               object
Source                 object
Lineitem name          object
dtype: object

In [6]:
# Checking data for null values 
nulls = dataset.isnull().sum()
print(nulls)

Name                      0
Financial Status       9978
Fulfillment Status     9978
Taxes                  9978
Total                  9978
Discount Amount        9978
Created_at (UTC)          0
Lineitem quantity         0
Lineitem price            0
Cancelled at          18511
Payment Method        10181
Refunded Amount        9978
Location               9979
Source                 9978
Lineitem name             0
dtype: int64

In [7]:
# Checking the percentage of nulls values 

for num in range(len(nulls)):
    print(columns[num], ' ', (nulls[num]/size[0]*100))

Name   0.0
Financial Status   53.12250439226961
Fulfillment Status   53.12250439226961
Taxes   53.12250439226961
Total   53.12250439226961
Discount Amount   53.12250439226961
Created_at (UTC)   0.0
Lineitem quantity   0.0
Lineitem price   0.0
Cancelled at   98.55188202097641
Payment Method   54.20326891337912
Refunded Amount   53.12250439226961
Location   53.12782835542777
Source   53.12250439226961
Lineitem name   0.0

In [8]:
# Cheking the statistics of the dataframe
dataset.describe()

,Taxes,Total,Discount Amount,Lineitem quantity,Lineitem price,Refunded Amount
count,8805.000000,8805.000000,8805.000000,18783.000000,18783.000000,8805.000000
mean,265.740282,1937.009853,77.270315,1.022893,940.591355,32.546848
std,118.091676,859.834905,368.731781,0.168008,872.789180,194.615647
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,248.280000,1800.000000,0.000000,1.000000,0.010000,0.000000
50%,248.280000,1800.000000,0.000000,1.000000,1100.010000,0.000000
75%,248.280000,1800.000000,0.000000,1.000000,1799.990000,0.000000
max,2006.900000,14550.000000,6450.020000,7.000000,3400.000000,4850.000000

# Things to note in order to clean the data.

- Percentage of null valus are the same for Source, Financial Status, Fulfillment, Taxes, Total, Discount Amount and Refounded so we're gonna clean that.

- Observe that, the percentage of Location is just (.0053) greater than the percentage of Source. 

- Despite the high percentage of the column "canceled at", we can say that less than 2% of all purchases are canceled. This Column will not be removed, instead of NaN, it would be 'Not canceled'

- We are going to group 'Cash + External Credit' and 'External Credit + Cash', obtaining only 'Cash + External Credit' as for null values, it will be replaced with 'Not done'.

# Manipulation and Cleaning Data

## A copy of the sheet will be made, so that it can be manipulated without modifying the original data.

In [9]:
sheet_copy = dataset.copy()

## Cleaning and replacing null values

In [10]:
sheet_copy.fillna({'Cancelled at':'Not cancelled', 'Payment Method': 'Not Done'}, inplace = True)
sheet_copy.replace('External Credit + Cash', 'Cash + External Credit', inplace = True)

In [11]:
# Now let's check how the missing values has change. 
nulls = sheet_copy.isna().sum()
print(nulls)

Name                     0
Financial Status      9978
Fulfillment Status    9978
Taxes                 9978
Total                 9978
Discount Amount       9978
Created_at (UTC)         0
Lineitem quantity        0
Lineitem price           0
Cancelled at             0
Payment Method           0
Refunded Amount       9978
Location              9979
Source                9978
Lineitem name            0
dtype: int64

# Dropping missing values and making the necessary functions to verify the changes and checking if there are any duplicates

In [12]:

sheet_copy.dropna(inplace = True)
print('')
print('Shape of data')
sheet_copy.shape

Shape of data

(8804, 15)

In [13]:
print('')
print('Missing Values')
sheet_copy.isna().sum()

Missing Values

Name                  0
Financial Status      0
Fulfillment Status    0
Taxes                 0
Total                 0
Discount Amount       0
Created_at (UTC)      0
Lineitem quantity     0
Lineitem price        0
Cancelled at          0
Payment Method        0
Refunded Amount       0
Location              0
Source                0
Lineitem name         0
dtype: int64

In [14]:
print('')
print('Changes in "Cancelled at"')
sheet_copy['Cancelled at'].unique()

Changes in "Cancelled at"

array(['Not cancelled', '26/3/2018', '5/1/2018', '13/1/2018', '21/1/2018',
       '14/2/2018', '26/1/2018', '27/1/2018', '30/1/2018', '8/2/2018',
       '15/2/2018', '28/2/2018', '24/2/2018', '1/3/2018', '3/3/2018',
       '5/3/2018', '22/3/2018', '14/4/2018', '20/1/2018', '13/2/2018',
       '7/1/2018', '8/1/2018', '11/1/2018', '12/1/2018', '22/5/2018',
       '14/1/2018', '17/1/2018', '19/1/2018', '23/1/2018', '12/2/2018',
       '6/2/2018', '7/2/2018', '17/2/2018', '20/2/2018', '4/8/2018',
       '13/3/2018', '26/2/2018', '16/3/2018', '21/3/2018', '25/3/2018',
       '15/1/2018', '25/5/2018', '28/1/2018', '3/2/2018', '9/2/2018',
       '10/2/2018', '16/2/2018', '25/2/2018', '4/3/2018', '12/3/2018',
       '28/3/2018', '4/1/2018', '9/1/2018', '31/1/2018', '12/5/2018',
       '14/3/2018', '24/3/2018', '31/3/2018', '6/4/2018', '10/1/2018',
       '22/2/2018', '11/3/2018', '16/1/2018', '1/2/2018', '19/2/2018',
       '1/8/2018', '18/2/2018', '23/2/2018', '7/3/2018', '10/3/2018',
       '2/4/2018', '24/1/2018', '5/2/2018', '11/2/2018', '6/3/2018',
       '8/3/2018', '27/2/2018', '20/3/2018', '19/3/2018', '23/4/2018',
       '11/4/2018', '3/1/2018', '2/2/2018', '27/3/2018', '15/3/2018',
       '25/1/2018', '22/1/2018', '19/6/2018', '18/3/2018', '4/4/2018',
       '14/6/2018', '1/4/2018', '29/1/2018', '4/2/2018', '17/3/2018',
       '23/3/2018', '29/3/2018', '28/8/2018', '30/3/2018', '17/10/2018',
       '3/4/2018'], dtype=object)

In [15]:
print('')
print('Changes in "Payment Method"')
sheet_copy['Payment Method'].unique()

Changes in "Payment Method"

array(['External Credit', 'Cash', 'Cash + External Credit', 'Not Done',
       'Gift Card', 'manual', 'Gift Card + External Credit'], dtype=object)

In [16]:
print('')
print('Change in Location')
sheet_copy['Location'].unique()

Change in Location

array(['Tienda A', 'Tienda C', 'Tienda B'], dtype=object)

In [17]:
print('')
print('Amount of duplicates in the dataset')
sheet_copy.duplicated().sum()

Amount of duplicates in the dataset

0

In [18]:
# Finally, let's save the file
sheet_copy.to_csv('Ben&Frank_clean.csv', index = False)

# Data Transformation

In [19]:
def days(date):
    """ function that from the date, gets a day number """
    date_time = datetime.strptime(date, '%d/%m/%Y %H:%M:%S')
    return datetime.weekday(date_time)

In [20]:
def hour(date):
    """Function that from the date, gets only the hour of the day."""
    hour = date.split(':')
    return hour[0][-2:]

In [21]:
def month(date):
    hour = date.split('/')
    return hour[1]

## Let's create the dictionaries in order to apply the functions already defined above and obtain a final dataset

In [22]:
days_map = {
    0:'Lunes',
    1:'Martes',
    2:'Miércoles',
    3:'Jueves',
    4:'Viernes',
    5:'Sábado',
    6:'Domingo'
}

In [23]:
# The structure of the days according the Store is
days_type = {
    'Lunes':'Entre Semana',
    'Martes': 'Entre Semana',
    'Miércoles': 'Entre Semana',
    'Jueves': 'Entre Semana',
    'Viernes': 'Fin de Semana',
    'Sábado':'Fin de Semana',
    'Domingo': 'Fin de Semana',
}

In [24]:
months = {
    '01':'Enero',
    '02':'Febrero',
    '03':'Marzo',
    '04':'Abril',
    '05':'Mayo',
    '06':'Junio',
    '07':'Julio',
    '08':'Agosto',
    '09':'Septiembre',
    '10':'Octubre',
    '11':'Noviembre',
    '12':'Diciembre'
}

In [25]:
# We get the day the purchase was made
sheet_copy['Day'] = sheet_copy['Created_at (UTC)'].apply(days).map(days_map)
# We classify whether it is midweek or weekend
sheet_copy['Day_Type'] = sheet_copy['Day'].map(days_type)
# We obtain the hours of the stores, WITHOUT MINUTES.
sheet_copy['Hour'] = sheet_copy['Created_at (UTC)'].apply(hour).astype(int)
# We do the segmentation for months
sheet_copy['Month'] = sheet_copy['Created_at (UTC)'].apply(month).map(months)

In [26]:
# We drop the hours that are not in the normal schedule of the store
sheet_copy['Correct_Schedule'] = sheet_copy['Hour'].isin([11,12,13,14,15,16,17,18,19])

# We are going to create the final dataset from where we will get the graphs
dataset_final = sheet_copy.drop(sheet_copy[sheet_copy['Correct_Schedule'] == False].index)

In [27]:
# Saving the dataset into a CSV
dataset_final.to_csv('Ben&Frank_tranform.csv', index = False)

In [28]:
dataset_final

,Name,Financial Status,Fulfillment Status,Taxes,Total,Discount Amount,Created_at (UTC),Lineitem quantity,Lineitem price,Cancelled at,Payment Method,Refunded Amount,Location,Source,Lineitem name,Day,Day_Type,Hour,Month,Correct_Schedule
0,MX29-1673,partially_refunded,fulfilled,468.97,3400.0,0.0,02/01/2018 18:24:00,1,1799.99,Not cancelled,External Credit,150.0,Tienda A,pos,MARTIN,Martes,Entre Semana,18,Enero,True
35,MX29-1689,paid,fulfilled,227.58,1650.0,150.0,03/01/2018 18:13:00,1,1799.99,Not cancelled,External Credit,0.0,Tienda A,pos,STANLEY,Miércoles,Entre Semana,18,Enero,True
36,MX29-1690,paid,fulfilled,248.28,1800.0,0.0,03/01/2018 18:24:00,1,1799.99,Not cancelled,External Credit,0.0,Tienda A,pos,HAWKING,Miércoles,Entre Semana,18,Enero,True
39,MX29-1691,paid,fulfilled,496.55,3600.0,150.0,03/01/2018 19:03:00,1,1799.99,Not cancelled,External Credit,0.0,Tienda A,pos,MOLEMAN,Miércoles,Entre Semana,19,Enero,True
41,MX29-1692,paid,fulfilled,248.28,1800.0,0.0,03/01/2018 19:10:00,1,1799.99,Not cancelled,Cash,0.0,Tienda A,pos,SEYMOUR,Miércoles,Entre Semana,19,Enero,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18754,MX42-1329,paid,fulfilled,248.28,1800.0,0.0,31/03/2018 18:35:00,1,1799.99,Not cancelled,External Credit,0.0,Tienda A,pos,ALDOUS,Sábado,Fin de Semana,18,Marzo,True
18756,MX42-1330,paid,fulfilled,0.00,2500.0,0.0,31/03/2018 18:56:00,1,2500.00,Not cancelled,External Credit,0.0,Tienda A,pos,Tarjeta de Regalo Buena Onda Virtual,Sábado,Fin de Semana,18,Marzo,True
18758,MX42-1331,paid,unfulfilled,248.28,1800.0,0.0,31/03/2018 18:58:00,1,1799.99,3/4/2018,External Credit,0.0,Tienda A,pos,WOODY,Sábado,Fin de Semana,18,Marzo,True
18760,MX42-1332,paid,fulfilled,227.58,1650.0,150.0,31/03/2018 19:02:00,1,1799.99,Not cancelled,Cash,0.0,Tienda A,pos,TRUMAN,Sábado,Fin de Semana,19,Marzo,True
18761,MX42-1333,paid,fulfilled,248.28,1800.0,0.0,31/03/2018 19:36:00,1,0.01,Not cancelled,External Credit,0.0,Tienda A,pos,Micas,Sábado,Fin de Semana,19,Marzo,True

# Sharing with jovian.ai

In [29]:
# install
!pip install jovian --upgrade

Collecting jovian
  Downloading jovian-0.2.26-py2.py3-none-any.whl (66 kB)
Requirement already satisfied, skipping upgrade: pyyaml in c:\users\danie\anaconda3\lib\site-packages (from jovian) (5.3.1)
Requirement already satisfied, skipping upgrade: click in c:\users\danie\anaconda3\lib\site-packages (from jovian) (7.1.2)
Collecting uuid
  Downloading uuid-1.30.tar.gz (5.8 kB)
Requirement already satisfied, skipping upgrade: requests in c:\users\danie\anaconda3\lib\site-packages (from jovian) (2.24.0)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\danie\anaconda3\lib\site-packages (from requests->jovian) (2020.6.20)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\users\danie\anaconda3\lib\site-packages (from requests->jovian) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\users\danie\anaconda3\lib\site-packages (from requests->jovian) (2.10)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\danie\anaconda3\lib\site-packages (from requests->jovian) (1.25.9)
Building wheels for collected packages: uuid
  Building wheel for uuid (setup.py): started
  Building wheel for uuid (setup.py): finished with status 'done'
  Created wheel for uuid: filename=uuid-1.30-py3-none-any.whl size=6507 sha256=9e25e454c528e82229c687b86b1f28c138028c6f6dac409db21e09a56dbdb032
  Stored in directory: c:\users\danie\appdata\local\pip\cache\wheels\1b\6c\cb\f9aae2bc97333c3d6e060826c1ee9e44e46306a178e5783505
Successfully built uuid
Installing collected packages: uuid, jovian
Successfully installed jovian-0.2.26 uuid-1.30

In [30]:
import jovian

In [31]:
jovian.commit()

[jovian] Attempting to save notebook..
[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ········
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ai/dannie-ml/exploratory-data-analysis

'https://jovian.ai/dannie-ml/exploratory-data-analysis'